@media (min-width: 768px) {
    .molImage {
        width: calc(100% * 0.5);
        height: fit-content;
    }
}

.mainDiv {
	margin-top: 1em;
	padding-top: 2%;
    padding-bottom: 5%;
    background: #FFFFFF;
    border-width: 1px;
    border-style: solid;
	border-color: #d7d7d7;
	border-radius: 5px;
}

.accordion {
    margin-bottom: 2em;
}

.accordion-item {
    border-color: #0d6efd;
}

.accordion-button {
    color:#0d6efd;
    font-size: 0.7em;
}

.secuencia {
	text-align: justify;
	background: #e2e2e2;
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	padding: 0.5em;
	height: 99%;
	margin: 1px;
}

.codeSeq {
	padding-left: 0.25em;
	padding-right: 0.25em;
	display: inline-block;
}

.highlight {
	background-color: #0000ff;
	color: #ffffff;
}

.lowlight {
	background-color: #e2e2e2;
	color: #000000;
}

.molDiv {
	vertical-align: middle;
	text-align: center;
	height: 30vh;
}

.molImage {
	width: calc(30vh * 0.5238);
}

.codeIndi {
	color: #959595;
}

.slider {
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.mutOpts {
    text-align: left !important;
}

.mutOpt {
    padding: 0.2em;
}

.mutOpt label {
    width: 2.5em;
}

.spinnerShow {
	text-align: center;
}

.spinnerShow img {
	width: 8%;
}