<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Machine Learning Web Application</title>
        <script src="https://unpkg.com/vue@3"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <link rel="stylesheet" href="CSS/sexy.css">
    </head>
    <body>

        <div id="app">

            <!-- Navigation bar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">MLWA</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link" href="#" @click="show('dnaShow')">DNA</a>
                            <a class="nav-link" href="#" @click="show('aaShow')">Amino Acid</a>
                            <a class="nav-link" href="#" @click="show('aboutShow')">About</a>
                        </div>
                    </div>
                </div>
            </nav>

            <!-- Main part of the website -->
            <div class="container mainDiv">

                <h1>Machine Learning Web Application</h1>
                <p>This app will help you estimate the impact of a mutation in a given protein.</p>
                <hr>

                <!-- About -->
                <div class="aboutShow container" v-if="aboutShow">
                    <h2>About</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum odio vitae dignissim consequat. Aliquam in commodo odio. Duis lacinia viverra bibendum. Curabitur nec dignissim metus, id iaculis ex. Suspendisse auctor dictum vehicula. Nullam ut lorem lacinia, venenatis dui vel, rhoncus turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eleifend orci sed vestibulum luctus. Sed eu arcu neque. Sed ut diam suscipit, pulvinar ante vel, rutrum tortor. Phasellus sollicitudin arcu ullamcorper urna vestibulum blandit. Quisque vitae dapibus ex, nec mollis dui. Morbi ac dignissim lacus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                </div>

                <!-- HowTo -->
                <div class="howtoShow container" v-if="howtoShow">
                    <div class="accordion" id="accordionHowTo">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How to ...</button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionHowTo">
                                <div class="accordion-body">
                                    Sed hendrerit massa non mauris feugiat imperdiet. Phasellus libero dolor, dapibus vitae sem in, hendrerit feugiat metus. Mauris vitae sem vestibulum, accumsan dolor in, eleifend dolor. Donec mattis hendrerit nulla. Sed fermentum aliquet magna, sed tristique magna. Nulla facilisi. Nam a ex at lorem cursus tincidunt.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- DNA Mutation -->
                <div class="dnaShow" v-if="dnaShow">
                    <h2>DNA Mutations</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Old DNA Sequence
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-md-8">
                                            <div class="card-body secuencia">
                                                <span class="codeSeq" v-for="(item, index) in dnaSequence" :id="index" :class="[dna == index ? 'highlight' : 'lowlight']">{{item}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 molDiv">
                                            <img :src="'IMG/' + dnaMut[dnaSequence[dna]][1]" class="img-fluid rounded-end molImage" alt="dnaMut[dnaSequence[dna]][0]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        New DNA Sequence
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-md-4 molDiv">
                                            <img src="IMG/adenine.png" class="img-fluid rounded-start molImage" alt="adenine">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row container editSeq">
                            <!-- Slider -->
                            <div class="container col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="dnaSlider" class="form-label">Select nucleotide:</label>
                                <input type="range" class="form-range" min="0" :max="dnaSequence.length - 1" id="dnaSlider" v-model="dna">
                            </div>
                            <!-- Botones (en grupo) -->
                            <div class="container col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="btn-group" role="group" aria-label="Buttons to select alternative nucleotide">
                                    <div class="row mutOpts">
                                        <div class="col mutOpt" v-for="(value, name, index) in dnaMut">
                                            <input type="radio" class="btn-check" name="btnradio" :id="'btnRadio' + index" autocomplete="off">
                                            <label class="btn btn-outline-primary" :for="'btnRadio' + index" :title="value[0]">{{name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- AA Mutation -->
                <div class="aaShow" v-if="aaShow">
                    <h2>Amino Acid Mutations</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        Old Amino Acid Sequence
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-md-8">
                                            <div class="card-body secuencia">
                                                <span class="codeSeq" v-for="(item, index) in aaSequence" :id="index" :class="[aa == index ? 'highlight' : 'lowlight']">{{item}}</span>
                                            </div>
                                        </div>
                                        <div class="col-md-4 molDiv">
                                            <img :src="'IMG/' + aaMut[aaSequence[aa]][1]" class="img-fluid rounded-end molImage" alt="aaMut[aaSequence[aa]][0]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="card mb-3">
                                    <div class="card-header">
                                        New Amino Acid Sequence
                                    </div>
                                    <div class="row g-0">
                                        <div class="col-md-4 molDiv">
                                            <img src="IMG/arginine.png" class="img-fluid rounded-start molImage" alt="arginine">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row container editSeq">
                            <!-- Slider -->
                            <div class="container col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <label for="aaSlider" class="form-label">Select amino acid:</label>
                                <input type="range" class="form-range" min="0" :max="aaSequence.length - 1" id="aaSlider" v-model="aa">
                            </div>
                            <!-- Botones (en grupo) -->
                            <div class="container col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="btn-group" role="group" aria-label="Buttons to select alternative amino acid">
                                    <div class="row mutOpts">
                                        <div class="col mutOpt" v-for="(value, name, index) in aaMut">
                                            <input type="radio" class="btn-check" name="btnradio" :id="'btnRadio' + index" autocomplete="off">
                                            <label class="btn btn-outline-primary" :for="'btnRadio' + index" :title="value[0]">{{name}}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Spinner -->
                <div class="spinnerShow" v-if="spinnerShow">
                    <img src="IMG/spinner.gif"> <!-- This won't work just yet -->
                </div>

                <!-- Results -->
                <div class="resultsShow" v-if="resultsShow">
                    <h2>Results</h2>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
        <script src="JS/action.js"></script>
    </body>
</html>